/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: 'Montserrat', sans-serif;
}

.body-container{
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img{
    width: 100%;
}



/* 
    HEADER
*/


.left-header{
    background-color: black;
    color: rgb(167, 166, 166);
    width: 12.5rem;
    height: calc(100vh - 6.25rem);
    display: flex;
    flex-direction: column;
}

.logo img{
    width: 70%;
    margin-top: .625rem;
    margin-left: 1.25rem;
}

.nav-side{
    margin-top: 1.25rem;
}

.nav-side ul{
    list-style: none;
}

.nav-side ul li{
    margin-left: 1.25rem;
    padding-bottom: .625rem;
    
}


.nav-side ul li img{
    width: 15%;
    vertical-align: middle;
}

.nav-side ul li div{
    display: inline-block;
    vertical-align: middle;
}

.nav-side ul li div a{
    text-decoration: none;
    color: rgb(167, 166, 166);
}

.nav-side ul li div a:hover{
    color: white;
}




.playlist-side{
    margin-top: 1.25rem ;
    margin-left: 1.25rem;
    flex-grow: 1;
    overflow: auto;
}


.playlist-side ul li{
    list-style: none;
    padding-top: .9375rem;
}

.playlist-side ul li a{
    text-decoration: none;
    color: rgb(167, 166, 166);
}

.playlist-side ul li a:hover{
    color: white;
}
    

.playlist-side ul li div i{
    font-size: 2.5rem;
    vertical-align: middle;
}


.playlist-side ul li div span{
    vertical-align: middle;
}

.playlist-side ul li div span a{
    text-decoration: none;
    color: rgb(167, 166, 166);
}

.playlist-side ul li div span a:hover{
    color: white;
}

.header-bottom{
    margin-top: 5.625rem;
}

.header-bottom-1{
    margin-left: 1.25rem;
    margin-top: 1.875rem;
}

.header-bottom-1 div{
    display: inline-block;

}

.header-bottom-1 div a{
    text-decoration: none;
    color: rgb(167, 166, 166);
}

.header-bottom-1 div a:hover{
    color: white;
}



.header-bottom hr{
    margin-top: .625rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

}

.header-bottom-2{
    margin-left: 1.25rem;
    margin-top: 0.625rem;
    margin-bottom: .625rem;
}

.header-bottom-2 div{
    display: inline-block;
    vertical-align: middle;

}

.header-bottom-2 div:first-child{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: gray;
    text-align: center;

}

.header-bottom-2 div img{
    width: 70%;

}








/* 
    MAIN
*/


.main-side{
    background-color: rgb(13, 13, 27);
    width: calc(100vw - 12.5rem);
    height: calc(100vh - 6.25rem);
    overflow-y: auto;
}

/*upgrade-bar*/

.upgrade-bar{
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.25rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.upgrade-bar div{
    padding-right: .3125rem;
}

.upgrade-bar div button{
    color: white;
    background-color: transparent;
    border: .125rem solid white;
    border-radius: 1.25rem;
    padding: .625rem 1.5625rem;
}

/*header-main*/

.selection-bar{
    margin: .625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selection-bar a{
    text-decoration: none;
    color: rgb(167, 166, 166);
    padding: 0 1.25rem;
    font-weight: 700;
}

.selection-bar a:hover{
    color: white;
    
}

/*first section*/

.recently-played{
    margin-top: 2.5rem;
    margin-left: 1.25rem;
    color: white;
}







/* 
    FOOTER
*/
footer{
    position: relative;
}
.playing-bar{
    background-color: rgb(61, 61, 65);
    width:100vw;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-playing{
    width: 20%;
    display: flex;
}

.music-playing-1{
    margin-left: .625rem;
}

.music-playing-1 img{
    width: 15%;
    vertical-align: middle;
}

.music-playing-1-title{
    display: inline-block;
    vertical-align: middle;
    padding-left: .625rem;
}

.music-playing-1-title h5{
    color: white;
}

.music-playing-1-title div{
    color: rgb(167, 166, 166);
}


.music-playing-interaction{
    display: inline-block;
    color: rgb(167, 166, 166);
    margin-left: 1.5625rem;
    vertical-align: middle;

}

.music-playing-interaction i{
    padding-left: .625rem;
}

.music-playing-interaction i:hover{
    color: white;
}


.dashboard{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.dashboard-top{
    color: white;
    font-size: 1.5625rem;
}

.dashboard-top i{
    padding: 0 1.25rem;
}

.dashboard-bottom{
    margin-top: 0.625rem;
    display: flex;
    align-items: center;
}

.timing-bar{
    background-color: rgb(167, 166, 166);
    height: .25rem;
    width: 35vw;
    border-radius: .0625rem;
}

.timing-bar-1{
    background-color: white;
    height: .25rem;
    width: 15%;
}

.timing-bar-1:hover{
    background-color: rgb(35, 189, 35);
}
    
.time-passed{
    color: white;
    font-size: small;
    padding-right: .625rem;
}

.remaining-time{
    color: white;
    font-size: small;
    padding-left: .625rem;
}



.settings{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.625rem;
    
}

.settings i{
    color:white;
    padding: 0 .9375rem;
    font-size: small;

}

.settings-volume{
    background-color: rgb(167, 166, 166);
    height: 0.25rem;
    width: 6.25rem;
    
}

.settings-volume div{
    background-color: white;
    height: 0.25rem;
    width: 30%;
    
}













/* 
    RESPONSIVE
*/