/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: 'Montserrat', sans-serif;
}

.body-container{
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}




/* 
    HEADER
*/


.left-header{
    background-color: black;
    color: white;
    width: 12.5rem;
    height: calc(100vh - 6.25rem);
    display: flex;
    flex-direction: column;
}






/* 
    MAIN
*/

.main-side{
    background-color: rgb(13, 13, 27);
    width: calc(100vw - 12.5rem);
    height: calc(100vh - 6.25rem);
}







/* 
    FOOTER
*/

.play-bar{
    background-color: rgb(61, 61, 65);
    width:100vw;
    height: 6.25rem

}





/* 
    RESPONSIVE
*/