/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: 'Montserrat', sans-serif;
}

.body-container{
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img{
    width: 100%;
}



/* 
    HEADER
*/


.left-header{
    background-color: black;
    color: lightgray;
    width: 12.5rem;
    height: calc(100vh - 6.25rem);
    display: flex;
    flex-direction: column;
}

.logo img{
    width: 70%;
    margin-top: .625rem;
    margin-left: 1.25rem;
}

.nav-side{
    margin-top: 1.25rem;
}

.nav-side ul{
    list-style: none;
}

.nav-side ul li{
    margin-left: 1.25rem;
    padding-bottom: .625rem;
    
}

.nav-side ul li img{
    width: 15%;
    vertical-align: middle;
}

.nav-side ul li div{
    display: inline-block;
    vertical-align: middle;
}


.playlist-side{
    margin-top: 20px ;
    margin-left: 1.25rem;
}






/* 
    MAIN
*/

.main-side{
    background-color: rgb(13, 13, 27);
    width: calc(100vw - 12.5rem);
    height: calc(100vh - 6.25rem);
}







/* 
    FOOTER
*/

.play-bar{
    background-color: rgb(61, 61, 65);
    width:100vw;
    height: 6.25rem

}





/* 
    RESPONSIVE
*/